<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/layout.css">

    @!section('styles')

</head>
<body>

    <header id="header-layout">
        <h1>Todo List : Web App Test :)</h1>
        <button id="show-nav-button">
            <i class="fa fa-bars fa-2x"></i>
        </button>
    </header>

    <nav id="nav-layout">
        <ul>
            <li>
                <a href="">
                    <i class="fa fa-list-ol"></i>
                    Change order...
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-trash"></i>Delete lists/groups...
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-chart-area"></i>Look your progress
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-cog"></i>Settings
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-info-circle"></i>Info
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-sign-out-alt"></i>Log out
                </a>
            </li>
        </ul>
    </nav>

    <section id="section-layout">

        <div id="leftside-layout">

            @!section('leftside-layout')

        </div>

        <div id="rightside-layout">

            @!section('rightside-layout')

        </div>

    </section>

    <script src="/scripts/layout.js"></script>

    @!section('scripts')

</body>
</html>
