@layout('layouts.layout')

@section('content')

<div class="initial-view">
    <a class="initial-add" href="">+</a>
</div>

@endsection

@section('scripts')

<script src="/scritps/index.js"></script>

@endsection