@layout('layouts.layout')

@section('content')

<div class="initial-view">
    <a class="initial-add" href="javascript:;">+</a>
</div>

@endsection

@section('scripts')

<script src="/scritps/initial.js"></script>

@endsection