@layout('layouts.layout')

@section('styles')

<link rel="stylesheet" href="/styles/main.css">

@endsection



@section('scripts')

<script src="/scripts/main.js"></script>

@endsection

{{--  Here has to be all tasks and visible information about them  --}}