@layout('layouts.layout')

@section('styles')

<link rel="stylesheet" href="/styles/progress.css">

@endsection



@section('scripts')

<script src="/scripts/progress.js"></script>

@endsection

{{--  Extension in future work  --}}