/* General style for all page */

/* Fonts from google fonts */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Global variable */
:root {
    --general-blue-color: rgb(59,89,152);
    --general-light-blue-color: rgb(139,157,195);
    --general-lighter-blue-color: rgb(223,227,238);
    --general-light-color: rgb(247,247,247);
    --general-radius: 10px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--general-light-color);
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}