
/* General style for all page */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(0,0,0,0.01);
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}