/* Main header */

#header-layout {
    position: relative;
    background-color: var(--general-blue-color);
    box-shadow: 0 5px 6px var(--general-light-blue-color);
    padding: 20px;
    margin: 0;
}

#header-layout h1 {
    color: white;
    margin: 0;
}

#header-layout button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: white;
    padding: 10px 15px;
    border: none;
    border-radius: var(--general-radius);
    cursor: pointer;
}

#header-layout button i {
    color: var(--general-blue-color);
}

#header-layout button:hover {
    background-color: var(--general-lighter-blue-color);
}

#header-layout button:hover i {
    color: var(--general-blue-color);
}

#header-layout button:focus {
    outline: none;
}

#header-layout button:active {
    background-color: var(--general-light-blue-color);
}

#header-layout button:active i {
    color: var(--general-lighter-blue-color);
}

/* Navigation list */

#nav-layout {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: white;
    box-shadow: 0 5px 6px var(--general-light-blue-color);
    padding: 20px;
    border-radius: var(--general-radius);
    animation: shownav;
    animation-duration: 0.5s;
}

#nav-layout.show-nav {
    display: block;
}

#nav-layout ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-layout ul li {
    border-bottom: 2px solid var(--general-lighter-blue-color);
}

#nav-layout ul li:first-of-type {
    border-top: 2px solid var(--general-lighter-blue-color);
}

#nav-layout ul li:hover {
    background-color: var(--general-lighter-blue-color);
}

#nav-layout ul li a {
    display: block;
    color: var(--general-blue-color);
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 20px;
}

#nav-layout ul li a i {
    padding-right: 10px;
}

@keyframes shownav {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#section-layout {
    display: flex;
    flex-direction: row;
}