header {
    background-color: var(--main-blue-color);
    padding: 0;
    margin: 0;
}

header h1 {
    color: white;
    margin: 0;
}

header button {
    background-color: white;
}

header i {
    color: var(--main-blue-color);
}