/* Style for extending menu on the left side */

/* Style for groups */

#groups {
    font-size: 20px;
    color: var(--general-blue-color);
    padding: 20px;
    margin: 0;
}

#groups button {
    width: 100px;
    text-align: left;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: white;
    padding-left: 5px;
    border: 1px solid var(--general-lighter-blue-color);
    border-radius: var(--general-radius);
    cursor: pointer;
}

#groups button:hover {
    background-color: var(--general-lighter-blue-color);
    padding-left: 10px;
}

#groups button:focus {
    outline: none;
}

#groups .groups-ul {
    padding: 0;
    margin: 0;
}

#groups .groups-ul>li:first-of-type {
    border-top: 1px solid var(--general-lighter-blue-color);
}

#groups .groups-ul>li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid var(--general-lighter-blue-color);
}

#groups .new-group-button {
    font-weight: bold;
    margin: 10px 0;
}

#groups .groups-ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

#groups .groups-ul>li>a:hover {
    background-color: var(--general-lighter-blue-color);
    padding-left: 5px;
    border-radius: var(--general-radius);
}

#groups .groups-ul>li>a>i {
    padding-right: 5px;
}

#groups .groups-ul>li .new-list-button {
    margin: 5px 0 0 40px;
}

/* Style for lists under groups */

#groups .groups-ul>li .lists-ul {
    padding-left: 40px;
}

#groups .groups-ul>li .lists-ul>li {
    list-style: none;
    padding: 2px 0;
}

#groups .groups-ul>li .lists-ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

#groups .groups-ul>li .lists-ul>li>a:hover {
    background-color: var(--general-lighter-blue-color);
    padding-left: 5px;
    border-radius: var(--general-radius);
}

/* Style for window creating new group/list */

#groups .window-container {
    display: none;
    position: absolute;
    top: 79px;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    animation: showwindow;
    animation-duration: 0.5s;
}

#groups .window-container .window-create-new {
    background-color: white;
    padding: 20px;
    border-radius: var(--general-radius);
    box-shadow: 0 5px 6px black;
    margin: 150px 30px;
}

#groups .window-container .window-create-new form {
    display: flex;
    flex-direction: column;
}

#groups .window-container .window-create-new form label {
    font-weight: bold;
    border-bottom: 2px solid var(--general-lighter-blue-color);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#groups .window-container .window-create-new form input {
    font-family: inherit;
    font-size: 18px;
    color: var(--general-blue-color);
    border: 1px solid var(--general-light-blue-color);
    border-radius: var(--general-radius);
}

#groups .window-container .window-create-new form input:focus {
    outline: none;
}

#groups .window-container .window-create-new form input[type=text] {
    padding: 5px 10px;
    margin-bottom: 30px;
}

#groups .window-container .window-create-new form input[type=text]::placeholder {
    color: var(--general-light-blue-color);
}

#groups .window-container .window-create-new form input[type=text]:hover {
    background-color: var(--general-lighter-blue-color);
}

#groups .window-container .window-create-new form input[type=text]:focus {
    background-color: var(--general-lighter-blue-color);
}


#groups .window-container .window-create-new form .row {
    flex-direction: row;
    width: 100%;
}

#groups .window-container .window-create-new form .row input[type=button] {
    background-color: white;
    padding: 5px 25px;
    cursor: pointer;
}

#groups .window-container .window-create-new form .row input[type=button]:hover {
    background-color: var(--general-lighter-blue-color);
}

#groups .window-container .window-create-new form .row input[type=submit] {
    float: right;
    background-color: white;
    padding: 5px 25px;
    cursor: pointer;
}

#groups .window-container .window-create-new form .row input[type=submit]:hover {
    background-color: var(--general-lighter-blue-color);
}

@keyframes showwindow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Style for lists with tasks on the right side */

/* Style for lists */

#lists {
    color: var(--general-blue-color);
    padding: 20px;
}

/* Style for list container */

#lists .list-container {
    border: 1px solid var(--general-lighter-blue-color);
    box-shadow: 0 5px 6px var(--general-light-blue-color);
    padding: 15px;
    margin-bottom: 60px;
}

/* Style for header in list */

#lists .list-container .header {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    border-bottom: 5px solid var(--general-lighter-blue-color);
}

#lists .list-container .header h2 {
    font-size: 30px;
    margin: 0 auto 0 0;
}

#lists .list-container .header button {
    background-color: white;
    color: inherit;
    padding: 5px 10px;
    border: none;
    border-radius: var(--general-radius);
    cursor: pointer;
}

#lists .list-container .header button:hover {
    background-color: var(--general-lighter-blue-color);
}

#lists .list-container .header button:focus {
    outline: none;
}

#lists .list-container .header button:active {
    background-color: var(--general-light-blue-color);
}

#lists .list-container .header button:active i {
    color: var(--general-lighter-blue-color);
}

#lists .list-container .header button.new {
    margin-right: 10px;
}

#lists .list-container .header button.save {
    display: none;
    margin-right: 10px;
}

/* Style for tasks in list */

#lists .list-container .tasks {
    margin-top: 10px;
    background-color: var(--general-light-blue-color);
    padding-bottom: 40px;
}

/* Style for task */

#lists .list-container .tasks .task-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px 0;
    border-top: 1px solid var(--general-lighter-blue-color);
    border-right: 1px solid var(--general-lighter-blue-color);
    border-left: 1px solid var(--general-lighter-blue-color);
    cursor: grab;
}

#lists .list-container .tasks .task-container:last-of-type {
    border-bottom: 1px solid var(--general-lighter-blue-color);
}

#lists .list-container .tasks .task-container input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    color: var(--general-blue-color);
    background-color: white;
    padding: 3px 8px;
    border: 1px solid var(--general-blue-color);
    border-radius: 5px;
    margin: auto 10px;
    cursor: pointer;
}

#lists .list-container .tasks .task-container input[type="checkbox"]::before {
    content: '✔';
    font-size: 20px;
    font-weight: 700;
    visibility: hidden;
}

#lists .list-container .tasks .task-container input[type="checkbox"]:checked::before {
    visibility: visible;
}

#lists .list-container .tasks .task-container input[type="checkbox"]:focus {
    outline: none;
}

/* #lists .list-container .tasks .task-container .content {

} */

#lists .list-container .tasks .task-container .content p {
    font-size: 18px;
    margin: 0;
}

#lists .list-container .tasks .task-container .content .row-1 {
    display: flex;
    flex-direction: row;
    font-weight: 700;
}

#lists .list-container .tasks .task-container .content .row-1 .hours {
    padding-right: 10px;
}

/* #lists .list-container .tasks .task-container .content .row-1 .title {

} */

/* #lists .list-container .tasks .task-container .content .row-1 .description {

} */

#lists .list-container .tasks .task-container button {
    background-color: white;
    color: inherit;
    padding: 10px;
    margin: auto 5px auto auto;
    border: none;
    border-radius: var(--general-radius);
    cursor: pointer;
}

#lists .list-container .tasks .task-container button i {
    transform: scale(0.7);
}

#lists .list-container .tasks .task-container button:hover {
    background-color: var(--general-lighter-blue-color);
}

#lists .list-container .tasks .task-container button:focus {
    outline: none;
}

#lists .list-container .tasks .task-container button:active {
    background-color: var(--general-light-blue-color);
}

#lists .list-container .tasks .task-container button:active i {
    color: var(--general-lighter-blue-color);
}

/* Style for creating/updating tasks window */

#lists .window-container {
    display: none;
    position: absolute;
    top: 79px;
    left: 30%;
    width: 70%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    animation: showwindow;
    animation-duration: 0.5s;
}

#lists .window-container .window {
    background-color: white;
    padding: 20px;
    border-radius: var(--general-radius);
    box-shadow: 0 5px 6px black;
    margin: 100px 200px;
}

#lists .window-container .window p {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid var(--general-lighter-blue-color);
    padding-bottom: 5px;
    margin: 0 0 10px 0;
}

#lists .window-container .window form {
    display: flex;
    flex-direction: column;
}

#lists .window-container .window form label {
    font-size: 20px;
    margin-bottom: 5px;
}

#lists .window-container .window form input {
    font-family: inherit;
    font-size: 20px;
    color: var(--general-blue-color);
    border: 1px solid var(--general-light-blue-color);
    border-radius: var(--general-radius);
    padding: 5px 10px;
    margin-bottom: 15px;
}

#lists .window-container .window form>input:last-of-type {
    margin-bottom: 40px;
}

#lists .window-container .window form input:focus {
    outline: none;
}

#lists .window-container .window form>input::placeholder {
    color: var(--general-light-blue-color);
}

#lists .window-container .window form>input:hover {
    background-color: var(--general-lighter-blue-color);
}

#lists .window-container .window form>input[type=time]:focus,
#lists .window-container .window form>input[type=text]:focus {
    background-color: var(--general-lighter-blue-color);
}

#lists .window-container .window form>input[type=time] {
    width: 50%;
}

#lists .window-container .window form>input[type=time]::-webkit-inner-spin-button,
#lists .window-container .window form>input[type=time]::-webkit-outer-spin-button {
    display: none;
    margin: 0;
}

#lists .window-container .window form>input[type=time]::-webkit-clear-button {
    display: none;
}

#lists .window-container .window form .row {
    flex-direction: row;
    width: 100%;
}

#lists .window-container .window form input[type=button] {
    background-color: white;
    padding: 5px 25px;
    cursor: pointer;
}

#lists .window-container .window form input[type=button]:hover {
    background-color: var(--general-lighter-blue-color);
}

#lists .window-container .window form input[type=submit] {
    float: right;
    background-color: white;
    padding: 5px 25px;
    cursor: pointer;
}

#lists .window-container .window form input[type=submit]:hover {
    background-color: var(--general-lighter-blue-color);
}
