/* Style for extending menu on the left side */

/* Style for groups */

#groups-ul {
    font-size: 20px;
    color: var(--general-blue-color);
    padding: 20px;
    margin: 0;
}

#groups-ul button {
    width: 100px;
    text-align: left;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: white;
    padding-left: 5px;
    border: 1px solid var(--general-lighter-blue-color);
    border-radius: var(--general-radius);
    cursor: pointer;
}

#groups-ul button:hover {
    background-color: var(--general-lighter-blue-color);
    margin-left: 5px;
}

#groups-ul button:focus {
    outline: none;
}

#groups-ul>li:first-of-type {
    border-top: 1px solid var(--general-lighter-blue-color);
}

#groups-ul>li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid var(--general-lighter-blue-color);
}

#groups-ul>li>button {
    font-weight: bold;
}

#groups-ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

#groups-ul>li>a:hover {
    background-color: var(--general-lighter-blue-color);
    padding-left: 5px;
    border-radius: var(--general-radius);
}

#groups-ul>li>a>i {
    padding-right: 5px;
}

/* Style for lists under groups */

.lists-ul {
    padding-left: 40px;
}

.lists-ul>li {
    list-style: none;
    padding: 2px 0;
}

.lists-ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.lists-ul>li>a:hover {
    background-color: var(--general-lighter-blue-color);
    padding-left: 5px;
    border-radius: var(--general-radius);
}


/* Style for lists with tasks on the right side */

/* Style for lists */

#lists {
    color: var(--general-blue-color);
    padding: 20px;
}

/* style for list container */

#lists .list-container {
    border: 1px solid var(--general-lighter-blue-color);
    box-shadow: 0 5px 6px var(--general-light-blue-color);
    padding: 15px;
    margin-bottom: 30px;
}

/* Style for header in list */

#lists .list-container .header {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--general-lighter-blue-color);
}

#lists .list-container .header h2 {
    margin: 0 auto 0 0;
}

#lists .list-container .header button:first-of-type {
    margin-right: 10px;
}

#lists .list-container .header button {
    background-color: white;
    color: inherit;
    padding: 5px 10px;
    border: none;
    border-radius: var(--general-radius);
    cursor: pointer;
}

#lists .list-container .header button:hover {
    background-color: var(--general-lighter-blue-color);
}

#lists .list-container .header button:focus {
    outline: none;
}

#lists .list-container .header button:active {
    background-color: var(--general-light-blue-color);
}

#lists .list-container .header button:active i {
    color: var(--general-lighter-blue-color);
}

/* Style for tasks in list */

#lists .list-container .tasks {
    margin-top: 10px;
    background-color: var(--general-light-blue-color);
    padding-bottom: 40px;
}

/* Style for task */

#lists .list-container .tasks .task-container {
    background-color: white;
    border: 1px solid var(--general-lighter-blue-color);
    cursor: grab;
}

#lists .list-container .tasks .task-container .content {

}

#lists .list-container .tasks .task-container .content input[type=checkbox] {

}

#lists .list-container .tasks .task-container .content p {
    margin: 0;
}

#lists .list-container .tasks .task-container .content .hours {

}

#lists .list-container .tasks .task-container .content .title {

}

#lists .list-container .tasks .task-container .description {

}

#lists .list-container .tasks .task-container i {

}