/* Style for groups */

#groups-ul {
    font-size: 20px;
    color: var(--general-blue-color);
    padding: 20px;
    margin: 0;
}

#groups-ul button {
    width: 100px;
    text-align: left;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: white;
    padding-left: 5px;
    border: 1px solid var(--general-lighter-blue-color);
    border-radius: var(--general-radius);
    cursor: pointer;
}

#groups-ul button:hover {
    background-color: var(--general-lighter-blue-color);
    margin-left: 5px;
}

#groups-ul button:focus {
    outline: none;
}

#groups-ul>li:first-of-type {
    border-top: 1px solid var(--general-lighter-blue-color);
}

#groups-ul>li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid var(--general-lighter-blue-color);
}

#groups-ul>li>button {
    font-weight: bold;
}

#groups-ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-decoration: none;
}

#groups-ul>li>a:hover {
    background-color: var(--general-lighter-blue-color);
    padding-left: 5px;
    border-radius: var(--general-radius);
}

#groups-ul>li>a>i {
    padding-right: 5px;
}


/* Style for lists under groups */

.lists-ul {
    padding-left: 40px;
}

.lists-ul>li {
    list-style: none;
    padding: 2px 0;
}

.lists-ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.lists-ul>li>a:hover {
    background-color: var(--general-lighter-blue-color);
    padding-left: 5px;
    border-radius: var(--general-radius);
}