html {
    font-family: Papyrus, fantasy;
    box-sizing: border-box;
    background-image: linear-gradient(to top left, rgba(144, 238, 149, 0.705), rgba(255, 251, 0, 0.637));
    background-repeat: no-repeat;
    height: 100%;
}

.container {
    padding: 10px;
}

.initial-view {
    width: 100%;
    text-align: center;
}

.initial-add {
    font-size: 30vw;
    font-weight: bold;
    text-decoration: none;
}