
/* Main style */

html {
    font-family: Papyrus, fantasy;
    box-sizing: border-box;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.01), white);
    background-repeat: repeat;
    height: 100%;
}

.container {
    width: 100%;
    padding: 10px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Initial style */

.initial-view {
    width: 100%;
    text-align: center;
}

.initial-add {
    font-size: 30vw;
    font-weight: bold;
    text-decoration: none;
}

/* Lists style */

.list-container {
    float: left;
    width: 47.9999%;
    padding: 5px;
}

.list-card {
    width: 100%;
    border: 1px solid black;
    box-shadow: 10px 10px 10px gray;
    transition: 0.2s;
    z-index: 1;
}

.list-card:hover {
    box-shadow: 20px 20px 10px gray;
    transition: 0.2s;
    z-index: 2;
}